@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Tangerine:wght@400;700&display=swap");

// FONTS
:root {
  --font-title: "Tangerine", cursive;
  --font-body: "Montserrat", sans-serif;
}

//COLOURS
:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-light: rgba(0, 0, 0, 0.6);
  --background-light-hover: rgba(99, 99, 99, 0.4);
  --background-dark: rgba(0, 0, 0, 0.9);
}
